In [140]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# 1. Đọc data

In [141]:
raw_df = pd.read_csv('./diemthi2019_update.csv', index_col=0)
raw_df.head()

,SBD,Ngu Van,Toan Hoc,Ma Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,24008611,8.00,8.2,N1,7.6,NaN,NaN,NaN,8.25,7.75,8.75
1,51000032,6.17,8.6,N1,8.0,8.25,4.5,6.0,NaN,NaN,NaN
2,51000005,4.75,5.2,NaN,NaN,NaN,NaN,NaN,4.00,4.25,5.75
3,51000021,4.50,4.4,NaN,NaN,NaN,NaN,NaN,2.25,4.75,5.00
4,51000013,6.00,5.8,N1,4.4,NaN,NaN,NaN,7.75,8.25,7.50

Oke do coi data co j thu zi ne`! =))

In [142]:
raw_df.shape

(811851, 11)

Hmmm, cung nhiu` phet ra do...

# 2. Preprocessing

## check datatype

In [143]:
raw_df.dtypes

SBD               int64
Ngu Van         float64
Toan Hoc        float64
Ma Ngoai Ngu     object
Ngoai Ngu       float64
Vat Ly          float64
Hoa Hoc         float64
Sinh Hoc        float64
Lich Su         float64
Dia Ly          float64
GDCD            float64
dtype: object

## 2.1 Mapping các tỉnh thành

### Khởi tạo một dictionary các tỉnh thành ứng với mã tỉnh

In [144]:
tinh_dict = {
    1: "Hà Nội",2: "TP. Hồ Chí Minh",3: "Hải Phòng",4: "Đà Nẵng",5: "Hà Giang",6: "Cao Bằng",7: "Lai Châu",8: "Lào Cai",9: "Tuyên Quang",
    10: "Lạng Sơn",11: "Bắc Kạn",12: "Thái Nguyên",13: "Yên Bái",14: "Sơn La",15: "Phú Thọ",16: "Vĩnh Phúc",17: "Quảng Ninh",18: "Bắc Giang",
    19: "Bắc Ninh",21: "Hải Dương",22: "Hưng Yên",23: "Hoà Bình",24: "Hà Nam",25: "Nam Định",26: "Thái Bình",27: "Ninh Bình",28: "Thanh Hoá",
    29: "Nghệ An",30: "Hà Tĩnh",31: "Quảng Bình",32: "Quảng Trị",33: "Thừa Thiên -Huế",34: "Quảng Nam",35: "Quảng Ngãi",36: "Kon Tum",37: "Bình Định",
    38: "Gia Lai",39: "Phú Yên",40: "Đắk Lắk",41: "Khánh Hoà",42: "Lâm Đồng",43: "Bình Phước",44: "Bình Dương",45: "Ninh Thuận",46: "Tây Ninh",47: "Bình Thuận",
    48: "Đồng Nai",49: "Long An",50: "Đồng Tháp",51: "An Giang",52: "Bà Rịa-Vũng Tàu",53: "Tiền Giang",54: "Kiên Giang",55: "Cần Thơ",56: "Bến Tre",
    57: "Vĩnh Long",58: "Trà Vinh",59: "Sóc Trăng",60: "Bạc Liêu",61: "Cà Mau",62: "Điện Biên",63: "Đăk Nông",64: "Hậu Giang"
}

### Tạo cột mã tỉnh trước khi mapping

In [145]:
raw_df['MaTinh'] = raw_df['SBD']//1000000

In [146]:
raw_df['Tinh'] = raw_df['MaTinh'].map(tinh_dict)
raw_df = raw_df.sort_values(by='MaTinh').reset_index(drop=True)
raw_df = raw_df.drop('MaTinh', axis=1)
raw_df

,SBD,Ngu Van,Toan Hoc,Ma Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Tinh
0,1015941,6.50,6.8,N1,3.0,NaN,NaN,NaN,4.25,5.75,8.5,Hà Nội
1,1035922,4.25,6.8,N1,4.0,6.75,5.75,2.00,NaN,NaN,NaN,Hà Nội
2,1035928,5.00,7.8,N1,8.0,8.00,2.50,3.50,NaN,NaN,NaN,Hà Nội
3,1035927,5.50,7.4,N1,2.0,6.25,6.00,5.00,NaN,NaN,NaN,Hà Nội
4,1035924,5.00,7.2,N1,3.2,5.50,5.50,3.75,NaN,NaN,NaN,Hà Nội
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,64001704,5.75,5.8,N1,3.6,5.75,5.25,4.25,NaN,NaN,NaN,Hậu Giang
811847,64001707,7.00,6.2,N1,4.8,NaN,NaN,NaN,5.75,7.25,9.0,Hậu Giang
811848,64001703,6.75,6.4,N1,7.8,6.75,5.25,3.75,NaN,NaN,NaN,Hậu Giang
811849,64001724,6.75,5.6,N1,3.6,NaN,NaN,NaN,3.75,6.50,7.0,Hậu Giang
811850,64002173,5.25,4.6,N1,3.0,3.75,4.75,4.50,NaN,NaN,NaN,Hậu Giang

## 2.2 Mapping mã ngoại ngữ sang ngoại ngữ

### Khởi tạo một dictionary các mã ngoại ngữ ứng với môn ngoại ngữ

In [147]:
mapping_ngon_ngu = {
    'N1': 'Tiếng Anh',
    'N2': 'Tiếng Nga',
    'N3': 'Tiếng Pháp',
    'N4': 'Tiếng Trung',
    'N5': 'Tiếng Đức',
    'N6': 'Tiếng Nhật'
}

#map
raw_df['Mon Ngoai Ngu'] = raw_df['Ma Ngoai Ngu'].map(mapping_ngon_ngu)
raw_df

,SBD,Ngu Van,Toan Hoc,Ma Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Tinh,Mon Ngoai Ngu
0,1015941,6.50,6.8,N1,3.0,NaN,NaN,NaN,4.25,5.75,8.5,Hà Nội,Tiếng Anh
1,1035922,4.25,6.8,N1,4.0,6.75,5.75,2.00,NaN,NaN,NaN,Hà Nội,Tiếng Anh
2,1035928,5.00,7.8,N1,8.0,8.00,2.50,3.50,NaN,NaN,NaN,Hà Nội,Tiếng Anh
3,1035927,5.50,7.4,N1,2.0,6.25,6.00,5.00,NaN,NaN,NaN,Hà Nội,Tiếng Anh
4,1035924,5.00,7.2,N1,3.2,5.50,5.50,3.75,NaN,NaN,NaN,Hà Nội,Tiếng Anh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811846,64001704,5.75,5.8,N1,3.6,5.75,5.25,4.25,NaN,NaN,NaN,Hậu Giang,Tiếng Anh
811847,64001707,7.00,6.2,N1,4.8,NaN,NaN,NaN,5.75,7.25,9.0,Hậu Giang,Tiếng Anh
811848,64001703,6.75,6.4,N1,7.8,6.75,5.25,3.75,NaN,NaN,NaN,Hậu Giang,Tiếng Anh
811849,64001724,6.75,5.6,N1,3.6,NaN,NaN,NaN,3.75,6.50,7.0,Hậu Giang,Tiếng Anh
811850,64002173,5.25,4.6,N1,3.0,3.75,4.75,4.50,NaN,NaN,NaN,Hậu Giang,Tiếng Anh

In [148]:
raw_df = raw_df.drop('Ma Ngoai Ngu', axis=1).reset_index(drop=True)
raw_df

,SBD,Ngu Van,Toan Hoc,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Tinh,Mon Ngoai Ngu
0,1015941,6.50,6.8,3.0,NaN,NaN,NaN,4.25,5.75,8.5,Hà Nội,Tiếng Anh
1,1035922,4.25,6.8,4.0,6.75,5.75,2.00,NaN,NaN,NaN,Hà Nội,Tiếng Anh
2,1035928,5.00,7.8,8.0,8.00,2.50,3.50,NaN,NaN,NaN,Hà Nội,Tiếng Anh
3,1035927,5.50,7.4,2.0,6.25,6.00,5.00,NaN,NaN,NaN,Hà Nội,Tiếng Anh
4,1035924,5.00,7.2,3.2,5.50,5.50,3.75,NaN,NaN,NaN,Hà Nội,Tiếng Anh
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,64001704,5.75,5.8,3.6,5.75,5.25,4.25,NaN,NaN,NaN,Hậu Giang,Tiếng Anh
811847,64001707,7.00,6.2,4.8,NaN,NaN,NaN,5.75,7.25,9.0,Hậu Giang,Tiếng Anh
811848,64001703,6.75,6.4,7.8,6.75,5.25,3.75,NaN,NaN,NaN,Hậu Giang,Tiếng Anh
811849,64001724,6.75,5.6,3.6,NaN,NaN,NaN,3.75,6.50,7.0,Hậu Giang,Tiếng Anh
811850,64002173,5.25,4.6,3.0,3.75,4.75,4.50,NaN,NaN,NaN,Hậu Giang,Tiếng Anh

#### Thay đổi giá trị `Nan` ở cột `Mon Ngoai Ngu` thành `Khong Thi`

In [149]:
raw_df['Mon Ngoai Ngu'].fillna('Không thi', inplace=True)

### Xếp lại tên cột

In [150]:
raw_df = raw_df.reindex(columns=['SBD', 'Tinh', 'Ngu Van', 'Toan Hoc', 'Mon Ngoai Ngu', 'Ngoai Ngu', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 'Lich Su', 'Dia Ly', 'GDCD'])
raw_df

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,1015941,Hà Nội,6.50,6.8,Tiếng Anh,3.0,NaN,NaN,NaN,4.25,5.75,8.5
1,1035922,Hà Nội,4.25,6.8,Tiếng Anh,4.0,6.75,5.75,2.00,NaN,NaN,NaN
2,1035928,Hà Nội,5.00,7.8,Tiếng Anh,8.0,8.00,2.50,3.50,NaN,NaN,NaN
3,1035927,Hà Nội,5.50,7.4,Tiếng Anh,2.0,6.25,6.00,5.00,NaN,NaN,NaN
4,1035924,Hà Nội,5.00,7.2,Tiếng Anh,3.2,5.50,5.50,3.75,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,64001704,Hậu Giang,5.75,5.8,Tiếng Anh,3.6,5.75,5.25,4.25,NaN,NaN,NaN
811847,64001707,Hậu Giang,7.00,6.2,Tiếng Anh,4.8,NaN,NaN,NaN,5.75,7.25,9.0
811848,64001703,Hậu Giang,6.75,6.4,Tiếng Anh,7.8,6.75,5.25,3.75,NaN,NaN,NaN
811849,64001724,Hậu Giang,6.75,5.6,Tiếng Anh,3.6,NaN,NaN,NaN,3.75,6.50,7.0
811850,64002173,Hậu Giang,5.25,4.6,Tiếng Anh,3.0,3.75,4.75,4.50,NaN,NaN,NaN

## 2.3 Kiểm tra danh sách và số lượng tương ứng vỗi mỗi ngoại ngữ

In [151]:
raw_df['Mon Ngoai Ngu'].unique()

array(['Tiếng Anh', 'Tiếng Nhật', 'Không thi', 'Tiếng Pháp',
       'Tiếng Trung', 'Tiếng Nga', 'Tiếng Đức'], dtype=object)

In [152]:
so_luong_thi_sinh = raw_df['Mon Ngoai Ngu'].value_counts()
so_luong_thi_sinh

Mon Ngoai Ngu
Tiếng Anh      726064
Không thi       83338
Tiếng Trung       801
Tiếng Nhật        773
Tiếng Pháp        646
Tiếng Nga         148
Tiếng Đức          81
Name: count, dtype: int64

#### Nhận xét:
Có thể thấy số lượng thi ngoại ngữ đa phần là môn tiếng anh, ngoài ra cũng có một số trường hợp không thi ngoại ngữ thì sẽ rơi vào 2 trường hợp sau:
- Được miễn thi ngoại ngữ do có bằng ngoại ngữ
- Thí sinh tự do (chỉ thi những môn họ muốn)

=> Đặt vấn đề là nếu mình muốn tính điểm và so các tỉnh thành với nhau hay so điểm của một cá thể cũng sẽ tương đối khó khăn vì có trường hợp thí sinh điểm cao nhưng không cần thi ngoại ngữ hoặc là thi lại. Vì vậy tạm thời sẽ không loại bỏ các dòng này

## 2.4 Kiểm tra số lượng thí sinh thi và số môn thi để tìm thử phương án xử lý

In [153]:
dong_so_mon_thi_bang_0 = raw_df[raw_df[['Ngu Van', 'Toan Hoc', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 'Lich Su', 'Dia Ly', 'GDCD', 'Ngoai Ngu']].count(axis=1) == 0]

# In ra dòng đầu tiên mà số môn thi bằng 0 (nếu có)
if not dong_so_mon_thi_bang_0.empty:
    print("Dòng mà số môn thi bằng 0:")
    print(dong_so_mon_thi_bang_0)
else:
    print("Không có dòng nào mà số môn thi bằng 0.")

Dòng mà số môn thi bằng 0:
             SBD      Tinh  Ngu Van  Toan Hoc Mon Ngoai Ngu  Ngoai Ngu  \
626915  48014982  Đồng Nai      NaN       NaN     Không thi        NaN
627861  48015710  Đồng Nai      NaN       NaN     Không thi        NaN
627889  48015739  Đồng Nai      NaN       NaN     Không thi        NaN
627952  48015808  Đồng Nai      NaN       NaN     Không thi        NaN
628460  48015117  Đồng Nai      NaN       NaN     Không thi        NaN
628463  48015124  Đồng Nai      NaN       NaN     Không thi        NaN
628600  48015531  Đồng Nai      NaN       NaN     Không thi        NaN
628686  48015626  Đồng Nai      NaN       NaN     Không thi        NaN
628842  48015484  Đồng Nai      NaN       NaN     Không thi        NaN
629552  48020914  Đồng Nai      NaN       NaN     Không thi        NaN
634183  48007223  Đồng Nai      NaN       NaN     Không thi        NaN
634400  48007426  Đồng Nai      NaN       NaN     Không thi        NaN
635022  48000025  Đồng Nai      NaN       NaN     Không thi        NaN
636881  48006790  Đồng Nai      NaN       NaN     Không thi        NaN
637072  48007064  Đồng Nai      NaN       NaN     Không thi        NaN
637123  48007122  Đồng Nai      NaN       NaN     Không thi        NaN
637184  48006991  Đồng Nai      NaN       NaN     Không thi        NaN
641638  48002441  Đồng Nai      NaN       NaN     Không thi        NaN
641689  48002425  Đồng Nai      NaN       NaN     Không thi        NaN
641738  48002249  Đồng Nai      NaN       NaN     Không thi        NaN
641821  48002274  Đồng Nai      NaN       NaN     Không thi        NaN
642065  48001451  Đồng Nai      NaN       NaN     Không thi        NaN
642172  48001771  Đồng Nai      NaN       NaN     Không thi        NaN
644183  48013001  Đồng Nai      NaN       NaN     Không thi        NaN
644287  48012896  Đồng Nai      NaN       NaN     Không thi        NaN
644354  48012973  Đồng Nai      NaN       NaN     Không thi        NaN
644357  48012977  Đồng Nai      NaN       NaN     Không thi        NaN
644364  48012962  Đồng Nai      NaN       NaN     Không thi        NaN
644389  48012938  Đồng Nai      NaN       NaN     Không thi        NaN
644395  48012935  Đồng Nai      NaN       NaN     Không thi        NaN
644405  48012959  Đồng Nai      NaN       NaN     Không thi        NaN
645051  48024721  Đồng Nai      NaN       NaN     Không thi        NaN
646584  48024881  Đồng Nai      NaN       NaN     Không thi        NaN
646954  48010586  Đồng Nai      NaN       NaN     Không thi        NaN
648340  48024541  Đồng Nai      NaN       NaN     Không thi        NaN
649769  48023178  Đồng Nai      NaN       NaN     Không thi        NaN
650129  48023573  Đồng Nai      NaN       NaN     Không thi        NaN

        Vat Ly  Hoa Hoc  Sinh Hoc  Lich Su  Dia Ly  GDCD
626915     NaN      NaN       NaN      NaN     NaN   NaN
627861     NaN      NaN       NaN      NaN     NaN   NaN
627889     NaN      NaN       NaN      NaN     NaN   NaN
627952     NaN      NaN       NaN      NaN     NaN   NaN
628460     NaN      NaN       NaN      NaN     NaN   NaN
628463     NaN      NaN       NaN      NaN     NaN   NaN
628600     NaN      NaN       NaN      NaN     NaN   NaN
628686     NaN      NaN       NaN      NaN     NaN   NaN
628842     NaN      NaN       NaN      NaN     NaN   NaN
629552     NaN      NaN       NaN      NaN     NaN   NaN
634183     NaN      NaN       NaN      NaN     NaN   NaN
634400     NaN      NaN       NaN      NaN     NaN   NaN
635022     NaN      NaN       NaN      NaN     NaN   NaN
636881     NaN      NaN       NaN      NaN     NaN   NaN
637072     NaN      NaN       NaN      NaN     NaN   NaN
637123     NaN      NaN       NaN      NaN     NaN   NaN
637184     NaN      NaN       NaN      NaN     NaN   NaN
641638     NaN      NaN       NaN      NaN     NaN   NaN
641689     NaN      NaN       NaN      NaN     NaN   NaN
641738     NaN      NaN       NaN      NaN     NaN   NaN
641821     NaN      NaN       NaN      NaN     NaN   NaN
642065     NaN      NaN       NaN      NaN     NaN   NaN
642172     NaN      NaN       NaN      NaN     NaN   NaN
644183     NaN      NaN       NaN      NaN     NaN   NaN
644287     NaN      NaN       NaN      NaN     NaN   NaN
644354     NaN      NaN       NaN      NaN     NaN   NaN
644357     NaN      NaN       NaN      NaN     NaN   NaN
644364     NaN      NaN       NaN      NaN     NaN   NaN
644389     NaN      NaN       NaN      NaN     NaN   NaN
644395     NaN      NaN       NaN      NaN     NaN   NaN
644405     NaN      NaN       NaN      NaN     NaN   NaN
645051     NaN      NaN       NaN      NaN     NaN   NaN
646584     NaN      NaN       NaN      NaN     NaN   NaN
646954     NaN      NaN       NaN      NaN     NaN   NaN
648340     NaN      NaN       NaN      NaN     NaN   NaN
649769     NaN      NaN       NaN      NaN     NaN   NaN
650129     NaN      NaN       NaN      NaN     NaN   NaN

In [154]:
def dem_so_mon_thi(df):
    # Tạo một Series mới để lưu số lượng môn thi của từng thí sinh
    so_mon_thi = df[['Ngu Van', 'Toan Hoc', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 'Lich Su', 'Dia Ly', 'GDCD', 'Ngoai Ngu']].count(axis=1)
    
    # Đếm số lượng thí sinh thi mỗi số môn
    so_luong_moi_so_mon = so_mon_thi.value_counts().sort_index()
    
    # In ra số lượng môn thi của từng thí sinh
    for so_mon, so_thi_sinh in so_luong_moi_so_mon.items():
        print(f"{so_mon}: {so_thi_sinh}")

# Gọi hàm với dataframe df
dem_so_mon_thi(raw_df)

0: 37
1: 325
2: 505
3: 21753
4: 59077
5: 3540
6: 695905
7: 4171
8: 148
9: 26390

Dựa vào thông tin kiểm tra, để phù hợp cho việc xử lý và nhẹ nhàng cho việc fill dữ liệu trống, ta sẽ loại bỏ các dòng dữ liệu có số môn ` nhỏ hơn 3`

In [155]:
raw_df = raw_df[raw_df[['Ngu Van', 'Toan Hoc', 'Vat Ly', 'Hoa Hoc', 'Sinh Hoc', 
                        'Lich Su', 'Dia Ly', 'GDCD', 'Ngoai Ngu']].count(axis=1) >= 3].reset_index(drop=True)
raw_df

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,1015941,Hà Nội,6.50,6.8,Tiếng Anh,3.0,NaN,NaN,NaN,4.25,5.75,8.5
1,1035922,Hà Nội,4.25,6.8,Tiếng Anh,4.0,6.75,5.75,2.00,NaN,NaN,NaN
2,1035928,Hà Nội,5.00,7.8,Tiếng Anh,8.0,8.00,2.50,3.50,NaN,NaN,NaN
3,1035927,Hà Nội,5.50,7.4,Tiếng Anh,2.0,6.25,6.00,5.00,NaN,NaN,NaN
4,1035924,Hà Nội,5.00,7.2,Tiếng Anh,3.2,5.50,5.50,3.75,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
810979,64001704,Hậu Giang,5.75,5.8,Tiếng Anh,3.6,5.75,5.25,4.25,NaN,NaN,NaN
810980,64001707,Hậu Giang,7.00,6.2,Tiếng Anh,4.8,NaN,NaN,NaN,5.75,7.25,9.0
810981,64001703,Hậu Giang,6.75,6.4,Tiếng Anh,7.8,6.75,5.25,3.75,NaN,NaN,NaN
810982,64001724,Hậu Giang,6.75,5.6,Tiếng Anh,3.6,NaN,NaN,NaN,3.75,6.50,7.0
810983,64002173,Hậu Giang,5.25,4.6,Tiếng Anh,3.0,3.75,4.75,4.50,NaN,NaN,NaN

In [156]:
dem_so_mon_thi(raw_df)

3: 21753
4: 59077
5: 3540
6: 695905
7: 4171
8: 148
9: 26390

Tạm ổn!

## 2.4 Lọc ra data thi tự nhiên (lý hóa sinh) và khối xã hội (sử địa gdcd)

#### **Khối tự nhiên**

In [157]:
TN_df = raw_df[(~raw_df['Vat Ly'].isna()) & (~raw_df['Hoa Hoc'].isna()) & (~raw_df['Sinh Hoc'].isna())]
TN_df.drop(columns=['Lich Su', 'Dia Ly', 'GDCD'], inplace=True)
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc
1,1035922,Hà Nội,4.25,6.8,Tiếng Anh,4.0,6.75,5.75,2.00
2,1035928,Hà Nội,5.00,7.8,Tiếng Anh,8.0,8.00,2.50,3.50
3,1035927,Hà Nội,5.50,7.4,Tiếng Anh,2.0,6.25,6.00,5.00
4,1035924,Hà Nội,5.00,7.2,Tiếng Anh,3.2,5.50,5.50,3.75
6,1035923,Hà Nội,6.75,7.2,Tiếng Anh,3.6,6.50,6.00,4.00

In [158]:
TN_df.shape

(286429, 9)

#### **Khối xã hội**

In [159]:
XH_df = raw_df[~raw_df['Lich Su'].isna() & ~raw_df['Dia Ly'].isna() & ~raw_df['GDCD'].isna()]
XH_df.drop(columns=['Vat Ly', 'Hoa Hoc', 'Sinh Hoc'], inplace=True)
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD
0,1015941,Hà Nội,6.50,6.8,Tiếng Anh,3.0,4.25,5.75,8.50
5,1035929,Hà Nội,4.00,3.4,Tiếng Anh,2.8,4.50,5.50,7.25
7,1035933,Hà Nội,4.00,4.8,Tiếng Anh,2.8,4.00,5.75,8.50
10,1035930,Hà Nội,6.75,4.2,Tiếng Anh,2.4,5.75,5.00,7.00
12,1035934,Hà Nội,8.00,6.8,Tiếng Anh,6.2,3.75,5.50,7.25

In [160]:
XH_df.shape

(470826, 9)

Wow, so luong nguoi thi ban TN co ve chi bang 1/2 so luong nguoi thi XH :)))

1 su that thu zi ~~

In [161]:
TN_df['Diem TB to hop'] = np.mean(TN_df.loc[:, 'Vat Ly':'Sinh Hoc'], axis=1).round(2)
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Diem TB to hop
1,1035922,Hà Nội,4.25,6.8,Tiếng Anh,4.0,6.75,5.75,2.00,4.83
2,1035928,Hà Nội,5.00,7.8,Tiếng Anh,8.0,8.00,2.50,3.50,4.67
3,1035927,Hà Nội,5.50,7.4,Tiếng Anh,2.0,6.25,6.00,5.00,5.75
4,1035924,Hà Nội,5.00,7.2,Tiếng Anh,3.2,5.50,5.50,3.75,4.92
6,1035923,Hà Nội,6.75,7.2,Tiếng Anh,3.6,6.50,6.00,4.00,5.50

In [162]:
XH_df['Diem TB to hop'] = np.mean(XH_df.loc[:, 'Lich Su':'GDCD'], axis=1).round(2)
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD,Diem TB to hop
0,1015941,Hà Nội,6.50,6.8,Tiếng Anh,3.0,4.25,5.75,8.50,6.17
5,1035929,Hà Nội,4.00,3.4,Tiếng Anh,2.8,4.50,5.50,7.25,5.75
7,1035933,Hà Nội,4.00,4.8,Tiếng Anh,2.8,4.00,5.75,8.50,6.08
10,1035930,Hà Nội,6.75,4.2,Tiếng Anh,2.4,5.75,5.00,7.00,5.92
12,1035934,Hà Nội,8.00,6.8,Tiếng Anh,6.2,3.75,5.50,7.25,5.50

Oke, coi diem thi to hop mon cua may khua nay` ntn =))

## **Các dạng thi khác**

In [163]:
khac_df = raw_df.loc[raw_df.index.difference(TN_df.index).difference(XH_df.index), :]
khac_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
912,1035701,Hà Nội,4.75,5.0,Tiếng Anh,1.8,NaN,NaN,NaN,NaN,NaN,NaN
1074,1036995,Hà Nội,4.50,4.2,Không thi,NaN,NaN,NaN,NaN,3.0,NaN,NaN
1084,1037009,Hà Nội,NaN,6.4,Không thi,NaN,NaN,6.0,5.75,NaN,NaN,NaN
1104,1036961,Hà Nội,5.00,2.2,Không thi,NaN,NaN,NaN,NaN,4.0,6.0,NaN
1110,1036970,Hà Nội,NaN,6.4,Tiếng Anh,6.8,7.25,4.0,NaN,NaN,NaN,NaN

In [164]:
khac_df.shape

(80142, 12)

In [165]:
if khac_df.shape[0] + TN_df.shape[0] + XH_df.shape[0] == raw_df.shape[0]:
    print('Ngon :v')
else: print('Fuckkkk :)) co j do bat on o day!')

Fuckkkk :)) co j do bat on o day!

In [166]:
raw_df.loc[TN_df.index.intersection(XH_df.index), :]

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
50,1035905,Hà Nội,4.75,5.4,Tiếng Anh,3.0,3.75,3.50,4.00,4.00,5.00,6.50
58,1035913,Hà Nội,5.50,8.6,Tiếng Anh,4.6,8.50,8.25,5.75,4.50,5.00,6.50
84,1036008,Hà Nội,5.75,5.4,Tiếng Anh,2.8,1.25,2.00,2.00,4.00,6.75,8.75
139,1035788,Hà Nội,5.25,8.6,Tiếng Anh,5.0,8.00,7.50,4.00,3.75,6.25,6.00
167,1035756,Hà Nội,6.00,8.0,Tiếng Anh,3.4,6.50,5.00,3.50,3.25,6.00,6.25
...,...,...,...,...,...,...,...,...,...,...,...,...
808169,64000772,Hậu Giang,7.75,6.2,Tiếng Anh,3.2,7.50,7.75,4.75,6.75,9.00,6.50
808492,64001114,Hậu Giang,4.75,5.6,Tiếng Anh,3.4,3.00,2.75,4.25,3.75,5.25,7.25
808728,64000888,Hậu Giang,5.00,5.6,Tiếng Anh,3.8,4.25,4.50,4.00,4.25,5.75,7.25
808744,64000908,Hậu Giang,6.00,6.8,Tiếng Anh,6.0,6.25,7.75,6.50,6.75,7.25,9.50
808840,64000989,Hậu Giang,5.25,4.6,Tiếng Anh,2.6,4.00,2.75,3.50,2.75,4.50,6.75

Dui ch, co may thang ngu thi ca 2 Ban =))) chac t dam tui no qua.

In [167]:
both_df = raw_df.loc[TN_df.index.intersection(XH_df.index), :]
TN_df.drop(index=both_df.index, inplace=True)
XH_df.drop(index=both_df.index, inplace=True)

Oke, h di check lai ne` =))))

In [168]:
if khac_df.shape[0] + TN_df.shape[0] + XH_df.shape[0] + both_df.shape[0] == raw_df.shape[0]:
    print('Ngon :v')
else: print('Fuckkkk :)) co j do bat on o day!')

Ngon :v

Roi h lm j voi may tk thi 2 ban day ...

Hmmmm ~~

In [169]:
both_df['Diem TB to hop TN'] = np.mean(both_df.loc[:, 'Vat Ly':'Sinh Hoc'], axis=1).round(2)
both_df['Diem TB to hop XH'] = np.mean(both_df.loc[:, 'Lich Su':'GDCD'], axis=1).round(2)
both_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Diem TB to hop TN,Diem TB to hop XH
50,1035905,Hà Nội,4.75,5.4,Tiếng Anh,3.0,3.75,3.50,4.00,4.00,5.00,6.50,3.75,5.17
58,1035913,Hà Nội,5.50,8.6,Tiếng Anh,4.6,8.50,8.25,5.75,4.50,5.00,6.50,7.50,5.33
84,1036008,Hà Nội,5.75,5.4,Tiếng Anh,2.8,1.25,2.00,2.00,4.00,6.75,8.75,1.75,6.50
139,1035788,Hà Nội,5.25,8.6,Tiếng Anh,5.0,8.00,7.50,4.00,3.75,6.25,6.00,6.50,5.33
167,1035756,Hà Nội,6.00,8.0,Tiếng Anh,3.4,6.50,5.00,3.50,3.25,6.00,6.25,5.00,5.17

- Phần phía dưới tạm thời bỏ nha do fill thì chắc trực quan hơi ảnh hưởng với ngoại ngữ có nhiều ngoại ngữ khác nhau và nhiều yếu tố khác
- Do điểm là vấn đề nhạy cảm nên tạm thời cứ làm trên dữ liệu gốc

In [170]:
# TN_df['Ngoai Ngu'].fillna(TN_df['Ngoai Ngu'].median(), inplace=True)
# XH_df['Ngoai Ngu'].fillna(XH_df['Ngoai Ngu'].median(), inplace=True)
# both_df['Ngoai Ngu'].fillna(both_df['Ngoai Ngu'].median(), inplace=True)
# TN_df['Ngu Van'].fillna(0, inplace=True)
# TN_df['Toan Hoc'].fillna(0, inplace=True)
# XH_df['Ngu Van'].fillna(0, inplace=True)
# XH_df['Toan Hoc'].fillna(0, inplace=True)
# both_df['Ngu Van'].fillna(0, inplace=True)
# both_df['Toan Hoc'].fillna(0, inplace=True)
# TN_df['Ma Ngoai Ngu'].fillna('unknown', inplace=True)
# XH_df['Ma Ngoai Ngu'].fillna('unknown', inplace=True)
# both_df['Ma Ngoai Ngu'].fillna('unknown', inplace=True)

In [171]:
TN_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260016 entries, 1 to 810983
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SBD             260016 non-null  int64
 1   Tinh            260016 non-null  object
 2   Ngu Van         258257 non-null  float64
 3   Toan Hoc        259996 non-null  float64
 4   Mon Ngoai Ngu   260016 non-null  object
 5   Ngoai Ngu       253117 non-null  float64
 6   Vat Ly          260016 non-null  float64
 7   Hoa Hoc         260016 non-null  float64
 8   Sinh Hoc        260016 non-null  float64
 9   Diem TB to hop  260016 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 21.8+ MB

In [172]:
XH_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444413 entries, 0 to 810982
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SBD             444413 non-null  int64
 1   Tinh            444413 non-null  object
 2   Ngu Van         444256 non-null  float64
 3   Toan Hoc        444070 non-null  float64
 4   Mon Ngoai Ngu   444413 non-null  object
 5   Ngoai Ngu       443437 non-null  float64
 6   Lich Su         444413 non-null  float64
 7   Dia Ly          444413 non-null  float64
 8   GDCD            444413 non-null  float64
 9   Diem TB to hop  444413 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 37.3+ MB

In [173]:
both_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26413 entries, 50 to 808840
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SBD                26413 non-null  int64
 1   Tinh               26413 non-null  object
 2   Ngu Van            26403 non-null  float64
 3   Toan Hoc           26407 non-null  float64
 4   Mon Ngoai Ngu      26413 non-null  object
 5   Ngoai Ngu          26402 non-null  float64
 6   Vat Ly             26413 non-null  float64
 7   Hoa Hoc            26413 non-null  float64
 8   Sinh Hoc           26413 non-null  float64
 9   Lich Su            26413 non-null  float64
 10  Dia Ly             26413 non-null  float64
 11  GDCD               26413 non-null  float64
 12  Diem TB to hop TN  26413 non-null  float64
 13  Diem TB to hop XH  26413 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 3.0+ MB

Ngon, co ve on r, h di check dieu kien tot nghiep th =)))

In [174]:
# TN_df['Ket Qua'] = 1
# XH_df['Ket Qua'] = 1
# both_df['Ket Qua'] = 1

# TN_df.loc[(TN_df['Toan Hoc'] < 1) | (TN_df['Ngu Van'] < 1) | (TN_df['Ngoai Ngu'] < 1) | (TN_df['Vat Ly'] < 1) | (TN_df['Hoa Hoc'] < 1) | (TN_df['Sinh Hoc'] < 1), 'Ket Qua'] = 0
# XH_df.loc[(XH_df['Toan Hoc'] < 1) | (XH_df['Ngu Van'] < 1) | (XH_df['Ngoai Ngu'] < 1) | (XH_df['Lich Su'] < 1) | (XH_df['Dia Ly'] < 1) | (XH_df['GDCD'] < 1), 'Ket Qua'] = 0
# both_df.loc[(both_df['Toan Hoc'] < 1) | (both_df['Ngu Van'] < 1) | (both_df['Ngoai Ngu'] < 1) | (both_df['Vat Ly'] < 1) | (both_df['Hoa Hoc'] < 1) | (both_df['Sinh Hoc'] < 1), 'Ket Qua'] = 0
# both_df.loc[(both_df['Toan Hoc'] < 1) | (both_df['Ngu Van'] < 1) | (both_df['Ngoai Ngu'] < 1) | (both_df['Lich Su'] < 1) | (both_df['Dia Ly'] < 1) | (both_df['GDCD'] < 1), 'Ket Qua'] = 0

Phần check tốt nghiệp tạm thời để qua vì này là điểm  ko đủ để xét tốt nghiệp với so sánh điểm từng môn giữa các tỉnh thành và so sánh điểm cao này nọ thui

In [175]:
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Diem TB to hop
1,1035922,Hà Nội,4.25,6.8,Tiếng Anh,4.0,6.75,5.75,2.00,4.83
2,1035928,Hà Nội,5.00,7.8,Tiếng Anh,8.0,8.00,2.50,3.50,4.67
3,1035927,Hà Nội,5.50,7.4,Tiếng Anh,2.0,6.25,6.00,5.00,5.75
4,1035924,Hà Nội,5.00,7.2,Tiếng Anh,3.2,5.50,5.50,3.75,4.92
6,1035923,Hà Nội,6.75,7.2,Tiếng Anh,3.6,6.50,6.00,4.00,5.50

In [176]:
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD,Diem TB to hop
0,1015941,Hà Nội,6.50,6.8,Tiếng Anh,3.0,4.25,5.75,8.50,6.17
5,1035929,Hà Nội,4.00,3.4,Tiếng Anh,2.8,4.50,5.50,7.25,5.75
7,1035933,Hà Nội,4.00,4.8,Tiếng Anh,2.8,4.00,5.75,8.50,6.08
10,1035930,Hà Nội,6.75,4.2,Tiếng Anh,2.4,5.75,5.00,7.00,5.92
12,1035934,Hà Nội,8.00,6.8,Tiếng Anh,6.2,3.75,5.50,7.25,5.50

In [177]:
both_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Diem TB to hop TN,Diem TB to hop XH
50,1035905,Hà Nội,4.75,5.4,Tiếng Anh,3.0,3.75,3.50,4.00,4.00,5.00,6.50,3.75,5.17
58,1035913,Hà Nội,5.50,8.6,Tiếng Anh,4.6,8.50,8.25,5.75,4.50,5.00,6.50,7.50,5.33
84,1036008,Hà Nội,5.75,5.4,Tiếng Anh,2.8,1.25,2.00,2.00,4.00,6.75,8.75,1.75,6.50
139,1035788,Hà Nội,5.25,8.6,Tiếng Anh,5.0,8.00,7.50,4.00,3.75,6.25,6.00,6.50,5.33
167,1035756,Hà Nội,6.00,8.0,Tiếng Anh,3.4,6.50,5.00,3.50,3.25,6.00,6.25,5.00,5.17

In [178]:
khac_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
912,1035701,Hà Nội,4.75,5.0,Tiếng Anh,1.8,NaN,NaN,NaN,NaN,NaN,NaN
1074,1036995,Hà Nội,4.50,4.2,Không thi,NaN,NaN,NaN,NaN,3.0,NaN,NaN
1084,1037009,Hà Nội,NaN,6.4,Không thi,NaN,NaN,6.0,5.75,NaN,NaN,NaN
1104,1036961,Hà Nội,5.00,2.2,Không thi,NaN,NaN,NaN,NaN,4.0,6.0,NaN
1110,1036970,Hà Nội,NaN,6.4,Tiếng Anh,6.8,7.25,4.0,NaN,NaN,NaN,NaN

In [179]:
TN_df['Diem TB'] = ((TN_df['Toan Hoc'] + TN_df['Ngoai Ngu'] + TN_df['Ngu Van'] + TN_df['Vat Ly'] + TN_df['Hoa Hoc'] + TN_df['Sinh Hoc']) / 6).round(2)
XH_df['Diem TB'] = ((XH_df['Toan Hoc'] + XH_df['Ngoai Ngu'] + XH_df['Ngu Van'] + XH_df['Lich Su'] + XH_df['Dia Ly'] + XH_df['GDCD']) / 6).round(2)
both_df['Diem TBTN'] = ((both_df['Toan Hoc'] + both_df['Ngoai Ngu'] + both_df['Ngu Van'] + both_df['Vat Ly'] + both_df['Hoa Hoc'] + both_df['Sinh Hoc']) / 6).round(2)
both_df['Diem TBXH'] = ((both_df['Toan Hoc'] + both_df['Ngoai Ngu'] + both_df['Ngu Van'] + both_df['Lich Su'] + both_df['Dia Ly'] + both_df['GDCD']) / 6).round(2)

In [180]:
TN_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Diem TB to hop,Diem TB
1,1035922,Hà Nội,4.25,6.8,Tiếng Anh,4.0,6.75,5.75,2.00,4.83,4.92
2,1035928,Hà Nội,5.00,7.8,Tiếng Anh,8.0,8.00,2.50,3.50,4.67,5.80
3,1035927,Hà Nội,5.50,7.4,Tiếng Anh,2.0,6.25,6.00,5.00,5.75,5.36
4,1035924,Hà Nội,5.00,7.2,Tiếng Anh,3.2,5.50,5.50,3.75,4.92,5.02
6,1035923,Hà Nội,6.75,7.2,Tiếng Anh,3.6,6.50,6.00,4.00,5.50,5.68

In [181]:
XH_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Lich Su,Dia Ly,GDCD,Diem TB to hop,Diem TB
0,1015941,Hà Nội,6.50,6.8,Tiếng Anh,3.0,4.25,5.75,8.50,6.17,5.80
5,1035929,Hà Nội,4.00,3.4,Tiếng Anh,2.8,4.50,5.50,7.25,5.75,4.58
7,1035933,Hà Nội,4.00,4.8,Tiếng Anh,2.8,4.00,5.75,8.50,6.08,4.98
10,1035930,Hà Nội,6.75,4.2,Tiếng Anh,2.4,5.75,5.00,7.00,5.92,5.18
12,1035934,Hà Nội,8.00,6.8,Tiếng Anh,6.2,3.75,5.50,7.25,5.50,6.25

In [182]:
both_df.head()

,SBD,Tinh,Ngu Van,Toan Hoc,Mon Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD,Diem TB to hop TN,Diem TB to hop XH,Diem TBTN,Diem TBXH
50,1035905,Hà Nội,4.75,5.4,Tiếng Anh,3.0,3.75,3.50,4.00,4.00,5.00,6.50,3.75,5.17,4.07,4.77
58,1035913,Hà Nội,5.50,8.6,Tiếng Anh,4.6,8.50,8.25,5.75,4.50,5.00,6.50,7.50,5.33,6.87,5.78
84,1036008,Hà Nội,5.75,5.4,Tiếng Anh,2.8,1.25,2.00,2.00,4.00,6.75,8.75,1.75,6.50,3.20,5.58
139,1035788,Hà Nội,5.25,8.6,Tiếng Anh,5.0,8.00,7.50,4.00,3.75,6.25,6.00,6.50,5.33,6.39,5.81
167,1035756,Hà Nội,6.00,8.0,Tiếng Anh,3.4,6.50,5.00,3.50,3.25,6.00,6.25,5.00,5.17,5.40,5.48

# 3. Tạo ra các file data mới

In [183]:
TN_df.to_csv('Danh sach Thi sinh thi khoi tu nhien.csv', index = False)
XH_df.to_csv('Danh sach Thi sinh thi khoi xa hoi', index = False)
both_df.to_csv('Danh sach Thi sinh thi ca hai khoi', index = False)
khac_df.to_csv('Danh sach Thi sinh khong xac dinh.csv', index = False)

Xong! Di ngu th =))